/*
.muestras-colores {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

VERDE

.cuadrado-grande-verde {
    width: 550px;
    height: 550px;
    background-color: #276C65;
    
}
.superior-izq-verde {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-left: 105px;
    margin-bottom: 15px;
    padding-top: 15px;
}

.lateral-izq-verde {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 15px;
   

}
.cuadrado-mediano-1-verde {
    width: 75px;
    height: 75px;
    background-color: #428780;
}
.cuadrado-mediano-2-verde {
    width: 75px;
    height: 75px;
    background-color: #6DAAA4;
}
.cuadrado-mediano-3-verde {
    width: 75px;
    height: 75px;
    background-color: #0E4943;
}
.cuadrado-mediano-4-verde {
    width: 75px;
    height: 75px;
    background-color: #012F2A;
}

.inferior-izq-verde {
    display: flex;
    flex-direction: row;
    margin-top: 215px;
    gap: 15px;
    padding-left: 15px;
}
.inferior-izq-verde .cuadrado-chiquito1 {
    width: 50px;
    height: 50px;
    background-color: #6DAAA4;
}
.inferior-izq-verde .cuadrado-chiquito2 {
    width: 50px;
    height: 50px;
    background-color: #428780;
}
.inferior-izq-verde .cuadrado-chiquito3 {
    width: 50px;
    height: 50px;
    background-color: #0E4943;
}
.inferior-izq-verde .cuadrado-chiquito4 {
    width: 50px;
    height: 50px;
    background-color: #012F2A;
}

.inferior-der-verde {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: -50px;
    padding-left: 350px;
   
}
.inferior-der-verde .cuadrado-chiquito5 {
    width: 50px;
    height: 50px;
    background-color: #6DAAA4;
}
.inferior-der-verde .cuadrado-chiquito6 {
    width: 50px;
    height: 50px;
    background-color: #428780;
}
.inferior-lateral-der-verde {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: -180px;
    padding-left: 480px;

}

.inferior-lateral-der-verde .cuadrado-chiquito7 {
    width: 50px;
    height: 50px;
    background-color: #012F2A;
}
.inferior-lateral-der-verde .cuadrado-chiquito8 {
    width: 50px;
    height: 50px;
    background-color: #0E4943;
}

.lateral-superior-derecha-verde {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 480px;
    margin-top: -455px;
}
.lateral-superior-derecha-verde .cuadrado-chiquito9 {
    width: 50px;
    height: 50px;
    background-color: #6DAAA4;
}
.lateral-superior-derecha-verde .cuadrado-chiquito10 {
    width: 50px;
    height: 50px;
    background-color: #428780;
}
.lateral-superior-derecha-verde .cuadrado-chiquito11 {
    width: 50px;
    height: 50px;
    background-color: #0E4943;
}
.lateral-superior-derecha-verde .cuadrado-chiquito12 {
    width: 50px;
    height: 50px;
    background-color: #012F2A;
}

LILA

.cuadrado-grande-lila {
    width: 550px;
    height: 550px;
    background-color: #582A72;
}
.superior-izq {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-left: 105px;
    margin-bottom: 15px;
    padding-top: 15px;
}

.lateral-izq {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 15px;
   

}



.cuadrado-mediano-1 {
    width: 75px;
    height: 75px;
    background-color: #764B8E;
}
.cuadrado-mediano-2 {
    width: 75px;
    height: 75px;
    background-color: #9775AA;
}
.cuadrado-mediano-3 {
    width: 75px;
    height: 75px;
    background-color: #3D1255;
}
.cuadrado-mediano-4 {
    width: 75px;
    height: 75px;
    background-color: #260339;
}

.inferior-izq {
    display: flex;
    flex-direction: row;
    margin-top: 215px;
    gap: 15px;
    padding-left: 15px;
}
.inferior-izq .cuadrado-chiquito1 {
    width: 50px;
    height: 50px;
    background-color: #9775AA;
}
.inferior-izq .cuadrado-chiquito2 {
    width: 50px;
    height: 50px;
    background-color: #764B8E;
}
.inferior-izq .cuadrado-chiquito3 {
    width: 50px;
    height: 50px;
    background-color: #3D1255;
}
.inferior-izq .cuadrado-chiquito4 {
    width: 50px;
    height: 50px;
    background-color: #260339;
}

.inferior-der {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: -50px;
    padding-left: 350px;
   
}
.inferior-der .cuadrado-chiquito5 {
    width: 50px;
    height: 50px;
    background-color: #9775AA;
}
.inferior-der .cuadrado-chiquito6 {
    width: 50px;
    height: 50px;
    background-color: #764B8E;
}
.inferior-lateral-der {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: -180px;
    padding-left: 480px;

}

.inferior-lateral-der .cuadrado-chiquito7 {
    width: 50px;
    height: 50px;
    background-color: #260339;
}
.inferior-lateral-der .cuadrado-chiquito8 {
    width: 50px;
    height: 50px;
    background-color: #3D1255;
}

.lateral-superior-derecha {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 480px;
    margin-top: -455px;
}
.lateral-superior-derecha .cuadrado-chiquito9 {
    width: 50px;
    height: 50px;
    background-color: #9775AA;
}
.lateral-superior-derecha .cuadrado-chiquito10 {
    width: 50px;
    height: 50px;
    background-color: #764B8E;
}
.lateral-superior-derecha .cuadrado-chiquito11 {
    width: 50px;
    height: 50px;
    background-color: #3D1255;
}
.lateral-superior-derecha .cuadrado-chiquito12 {
    width: 50px;
    height: 50px;
    background-color: #260339;
}


AZUL

.cuadrado-grande-verde {
    width: 550px;
    height: 550px;
    background-color: #276C65;
    
}
.superior-izq-verde {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-left: 105px;
    margin-bottom: 15px;
    padding-top: 15px;
}

.lateral-izq-verde {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 15px;
   

}
.cuadrado-mediano-1-verde {
    width: 75px;
    height: 75px;
    background-color: #428780;
}
.cuadrado-mediano-2-verde {
    width: 75px;
    height: 75px;
    background-color: #6DAAA4;
}
.cuadrado-mediano-3-verde {
    width: 75px;
    height: 75px;
    background-color: #0E4943;
}
.cuadrado-mediano-4-verde {
    width: 75px;
    height: 75px;
    background-color: #012F2A;
}

.inferior-izq-verde {
    display: flex;
    flex-direction: row;
    margin-top: 215px;
    gap: 15px;
    padding-left: 15px;
}
.inferior-izq-verde .cuadrado-chiquito1 {
    width: 50px;
    height: 50px;
    background-color: #6DAAA4;
}
.inferior-izq-verde .cuadrado-chiquito2 {
    width: 50px;
    height: 50px;
    background-color: #428780;
}
.inferior-izq-verde .cuadrado-chiquito3 {
    width: 50px;
    height: 50px;
    background-color: #0E4943;
}
.inferior-izq-verde .cuadrado-chiquito4 {
    width: 50px;
    height: 50px;
    background-color: #012F2A;
}

.inferior-der-verde {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: -50px;
    padding-left: 350px;
   
}
.inferior-der-verde .cuadrado-chiquito5 {
    width: 50px;
    height: 50px;
    background-color: #6DAAA4;
}
.inferior-der-verde .cuadrado-chiquito6 {
    width: 50px;
    height: 50px;
    background-color: #428780;
}
.inferior-lateral-der-verde {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: -180px;
    padding-left: 480px;

}

.inferior-lateral-der-verde .cuadrado-chiquito7 {
    width: 50px;
    height: 50px;
    background-color: #012F2A;
}
.inferior-lateral-der-verde .cuadrado-chiquito8 {
    width: 50px;
    height: 50px;
    background-color: #0E4943;
}

.lateral-superior-derecha-verde {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 480px;
    margin-top: -455px;
}
.lateral-superior-derecha-verde .cuadrado-chiquito9 {
    width: 50px;
    height: 50px;
    background-color: #6DAAA4;
}
.lateral-superior-derecha-verde .cuadrado-chiquito10 {
    width: 50px;
    height: 50px;
    background-color: #428780;
}
.lateral-superior-derecha-verde .cuadrado-chiquito11 {
    width: 50px;
    height: 50px;
    background-color: #0E4943;
}
.lateral-superior-derecha-verde .cuadrado-chiquito12 {
    width: 50px;
    height: 50px;
    background-color: #012F2A;
}
*/

:root {
    --verde-base: #276C65;
    --verde-1:#32DBBF;
    --verde-2:#01B294;
    --verde-3:#0E4943;
    --verde-4:#012F2A;

    --lila-base:#582A72;
    --lila-1:#9775AA;
    --lila-2: #764B8E;
    --lila-3:#3D1255;
    --lila-4:#260339;

    --azul-base: #29486E;
    --azul-1:#A4C0E2;
    --azul-2:#5F81A8;
    --azul-3:#0B2544;
    --azul-4:#010A14;

    --naranja-base: #AC6637;
    --naranja-1:#FF8A3A;
    --naranja-2:#FF6801;
    --naranja-3:#704426;
    --naranja-4:#302015;
}

.cuadrado-grande { 
    width: 550px;
    height: 550px;
}
.cuadrado-mediano {
    width: 75px;
    height: 75px;
}
.cuadrado-chico {
    width: 50px;
    height: 50px;
}

.bg-verde-base {background-color: var(--verde-base);}
.bg-verde-1 {background-color: var(--verde-1);}
.bg-verde-2 {background-color: var(--verde-2);}
.bg-verde-3 {background-color: var(--verde-3);}
.bg-verde-4 {background-color: var(--verde-4);}

.bg-lila-base {background-color: var(--lila-base);}
.bg-lila-1 {background-color: var(--lila-1);}
.bg-lila-2 {background-color: var(--lila-2);}
.bg-lila-3 {background-color: var(--lila-3);}
.bg-lila-4 {background-color: var(--lila-4);}

.bg-azul-base {background-color: var(--azul-base);}
.bg-azul-1 {background-color: var(--azul-1);}
.bg-azul-2 {background-color: var(--azul-2);}
.bg-azul-3 {background-color: var(--azul-3);}
.bg-azul-4 {background-color: var(--azul-4);}

.bg-naranja-base {background-color: var(--naranja-base);}
.bg-naranja-1 {background-color: var(--naranja-1);}
.bg-naranja-2 {background-color: var(--naranja-2);}
.bg-naranja-3 {background-color: var(--naranja-3);}
.bg-naranja-4 {background-color: var(--naranja-4);}


.muestras-colores {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.superior-izq {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-left: 105px;
    margin-bottom: 15px;
    padding-top: 15px;
}
.lateral-izq {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 15px;
}
.inferior-izq {
    display: flex;
    flex-direction: row;
    margin-top: 215px;
    gap: 15px;
    padding-left: 15px;
}
.inferior-der {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: -50px;
    padding-left: 350px; 
}
.inferior-lateral-der {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: -180px;
    padding-left: 480px;
}
.lateral-superior-der {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 480px;
    margin-top: -455px;
}