.bloque1 h1 {
font-family: "Gravitas One", serif;
  font-weight: 700;
  font-style: normal;
    
}

.bloque1 h3 {
     font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.bloque1 p {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



.bloque2 h1 {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.bloque2 h3 {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: oblique;
  font-variation-settings:
    "wdth" 75;
}

.bloque2 p {
font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-style:inherit;
  font-variation-settings:
    "wdth" 20;

}

.bloque3 h1 {
    font-family: "WindSong", cursive;
  font-weight: 700;
  font-style: normal;
}

.bloque3 h3 {
     font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}
.bloque3 p {
  font-family: "PT Sans", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.bloque4 h1 {
    font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.bloque4 h3 {
       font-family: "Gantari", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}

.bloque4 p {
     font-family: "Gantari", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}